@font-face {
  font-family: 'Giveny';
  src: local('Giveny'),
    url('/../../fonts/Giveny.otf') format('opentype'),
    url('/../../fonts/Giveny.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* josefin-sans-regular - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Sans Regular'), local('JosefinSans-Regular'),
    url('/../../fonts/josefin-sans-v14-latin-regular.woff2') format('woff2'),
    url('/../../fonts/josefin-sans-v14-latin-regular.woff') format('woff');
  font-display: swap;
}

/* josefin-sans-700 - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Josefin Sans Bold'), local('JosefinSans-Bold'),
    url('/../../fonts/josefin-sans-v14-latin-700.woff2') format('woff2'),
    url('/../../fonts/josefin-sans-v14-latin-700.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/../../fonts/HelveticaNeueCyr-Medium.eot');
  src: local('HelveticaNeueCyr-Medium'),
    url('/../../fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
    url('/../../fonts/HelveticaNeueCyr-Medium.woff') format('woff'),
    url('/../../fonts/HelveticaNeueCyr-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/../../fonts/HelveticaNeueCyr-Heavy.eot');
  src: local('HelveticaNeueCyr-Heavy'),
    url('/../../fonts/HelveticaNeueCyr-Heavy.eot?#iefix') format('embedded-opentype'),
    url('/../../fonts/HelveticaNeueCyr-Heavy.woff') format('woff'),
    url('/../../fonts/HelveticaNeueCyr-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/../../fonts/HelveticaNeueCyr-Black.eot');
  src: local('HelveticaNeueCyr-Black'),
    url('/../../fonts/HelveticaNeueCyr-Black.eot?#iefix') format('embedded-opentype'),
    url('/../../fonts/HelveticaNeueCyr-Black.woff') format('woff'),
    url('/../../fonts/HelveticaNeueCyr-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/../../fonts/HelveticaNeueCyr-Roman.eot');
  src: local('HelveticaNeueCyr-Roman'),
    url('/../../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
    url('/../../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
    url('/../../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/../../fonts/HelveticaNeueCyr-Bold.eot');
  src: local('HelveticaNeueCyr-Bold'),
    url('/../../fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
    url('/../../fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
    url('/../../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/../../fonts/HelveticaNeueCyr-Light.eot');
  src: local('HelveticaNeueCyr-Light'),
    url('/../../fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
    url('/../../fonts/HelveticaNeueCyr-Light.woff') format('woff'),
    url('/../../fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('/../../fonts/HelveticaNeueCyr-Thin.eot');
  src: local('HelveticaNeueCyr-Thin'),
    url('/../../fonts/HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'),
    url('/../../fonts/HelveticaNeueCyr-Thin.woff') format('woff'),
    url('/../../fonts/HelveticaNeueCyr-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}