@import 'fonts';
@import 'mixin';
@import 'varibals';


html {
  min-height: 100vh;
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  font-family: sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  // scroll-behavior: smooth;
}

body {
  max-width: 1920px;
  min-height: inherit;
  margin: 0 auto;
  font-family: $font;
  color: var(--color-text);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background-color: var(--bg);
  overflow-y: scroll;
  &::-webkit-scrollbar{
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--color-text);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-main);
    border-radius: 2px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  hyphens: auto;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

menu,
ul,
ol {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

a {
  display: block;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  color: inherit;
  /* remove touch blue highlight on mobile */
  // -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:hover {
    color: inherit;
    text-decoration: none;
  }

  &:focus {
    outline: 0;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

svg {
  // overflow: hidden;
  vertical-align: middle;
}

input,
button,
select,
optgroup,
textarea {
  vertical-align: middle;
  color: inherit;
  font-size: inherit;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
}

select {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

button[disabled],
[type='button'][disabled],
[type='reset'][disabled],
[type='submit'][disabled] {
  cursor: default;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}


input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

button {
  background: none;
  border: none;
  font-size: inherit;
  color: inherit;
  /* remove touch blue highlight on mobile */
  // -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

iframe {
  border: none;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border: 0;
  border-top: 1px solid;
  margin: 0;
  clear: both;
}

label[for] {
  cursor: pointer;
}


h1 {
  color: var(--color-text);
  font-family: "Giveny";
  font-size: 2rem;
  font-weight: 800;
  text-transform: capitalize;
  text-align: center;
  white-space: nowrap;
  margin-left: 1rem;
  display: none;
}

@media only screen and (min-width: 578px) {
  h1 {
    display: block;
  }
}

.container {
  max-width: 1176px;
  width: 90%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 70%;
  }
}

.body-fixed {
  overflow: hidden;
  // on Mobile Safari
  -webkit-overflow-scrolling: touch;

}