@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1==$u2 and $u1==$u3 and $u1==$u4 {
    & {
      font-size: $min-font-size;

      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }

      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

@mixin gateway($minsixe, $maxsize) {
  $m: ($maxsize - $minsixe) / ($max_width - $min_width);
  $b: $minsixe - ($m * $min_width);
  font-size: calc(#{$m * 100}vw + #{$b});
}

@mixin gatewayWidth($minsixe, $maxsize) {
  $m: ($maxsize - $minsixe) / ($max_width - $min_width);
  $b: $minsixe - ($m * $min_width);
  width: calc(#{$m * 100}vw + #{$b});
}

@mixin gatewayHeight($minsixe, $maxsize) {
  $m: ($maxsize - $minsixe) / ($max_width - $min_width);
  $b: $minsixe - ($m * $min_width);
  height: calc(#{$m * 100}vw + #{$b});
}

// placeholder
@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
  &::placeholder {
    @content;
  }
}

