$min_width: 320px;
$max_width: 1270px;
$min_font: 14px;
$max_font: 18px;

$font: 'HelveticaNeueCyr';

html{
    --bg: #f5f6f6;
    --color-main: #d8232a;
    --color-text: #3F444E;
    //--color-gray: #989ca4;
    //--color-text-white: #ffffff;
    --bg-reveal: 0, 0, 0;
    --color-reveal: #ffffff;
    --color-404: #3F444E;
    --color-input: #000000;
}


html[data-theme='dark'] {
    --bg: #000000;
    --color-main: #d8232a;
    --color-text: #aaaaaa;
    //--color-text-gray: #989ca4;
    //--color-text-white: #ffffff;
    //--bg-reveal: 0, 0, 0;
    --color-input: #ffffff;
    --color-reveal: #aaaaaa;
    --color-404: #000000;
}

//@media (prefers-color-scheme: dark) {
//  :root {
//    --bg: #000000;
//    --color-main: #d8232a;
//    --color-text-dark: #aaaaaa;
//    --color-text-gray: #989ca4;
//    --color-text-white: #ffffff;
//    --bg-reveal: 0, 0, 0;
//  }
//}