.cf-breadcrumbs {
  display: none;
  border-bottom: 1px solid #5c5c5c;
  padding-top: 1.8rem;
  align-items: center;
  justify-content: space-between;
  nav{
    align-self: flex-end;
    display: none;
  }
  ol {
    display: flex;

  }

  li {
    margin-right: 1rem;
    border-bottom: 2px solid transparent;
    &:hover {
      border-bottom: 2px solid var(--color-main)
    }

    &:hover a,
    &:focus a {
      -webkit-text-stroke: 1px var(--color-main)
    }
  }

  a {
    color: var(--color-main);
    font-size: 1.1rem;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 10px;
  }

  &-views {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-bottom: 10px;
    a{
      margin-left: 16px;
    }
  }
}
#cf-breadcrumbs-card {
  svg{
    width: 25px;
    height: 25px;
  }
}
#cf-breadcrumbs-line{
  // margin-bottom: 7px;
  margin-left: 1rem;
  width: 30px;
  height: 30px;
}
@media only screen and (min-width: 480px){
  
}
@media only screen and (min-width: 768px){
  .cf-breadcrumbs{
    display: flex;
    nav{
      display: block;
    }
  }
}
