main{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
#cards {
  // display: grid;
  // grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
  // grid-template-columns: repeat(auto-fit, 200px);
  // grid-template-rows: auto;
  // justify-content: center;
  // grid-gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
  margin-left: -10px;
  margin-right: -10px;
}

.cf-card {
  // width: calc(50% - 30px);
  // margin: 35px 15px 0;
  width: 200px;
  margin-top: 1rem;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
  position: relative;
  border-radius: 0.278rem;
  border: 1px solid #474747;
  display: flex;
  flex-direction: column;

  &_image {
    overflow: hidden;
    position: relative;

    span {
      display: none;
      position: absolute;
      top: 5%;
      right: 3%;
      cursor: pointer;
      z-index: 100;
    }
  }

  .poster {
    min-height: 300px;
    display: flex;
    // position: relative;
    // padding-top: 133.33%;

    // & div {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   right: 0;
    //   bottom: 0;
    //   width: 100%;
    //   overflow: hidden;
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    // }

    img {
      // min-width: 100%;
    }
  }

  &_content {
    padding: 1.3rem 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    & div {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &_reveal {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--bg-reveal), 0.9);
    overflow-y: auto;
    z-index: 3;
    // transition: all 0.2s linear;
    padding: 1.5rem 1rem;
    color: var(--color-reveal);

    &::-webkit-scrollbar {
      width: 5px;
    }

    p {
      margin-top: 2rem;
      font-size: 1.1rem;
      font-weight: 400;
      line-height: 1.4;
    }
  }
}
@media only screen and (min-width: 576px){
  #cards{
    margin-left: -15px;
    margin-right: -15px;
  }
  .cf-card{
    margin-left: 15px;
    margin-right: 15px;
  }
}

.more-icon {
  width: 30px;
  height: 30px;
}

.movie-title {
  font-size: 0.6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.062rem;
}

.movie-rating {
  width: 2.3rem;
  height: 1.5rem;
  border-radius: 0.333rem;
  border: 0.111rem solid var(--color-main);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  align-self: flex-start;
}

.movie-genre {
  color: var(--color-main);
  font-size: 0.7rem;
  font-weight: 500;
  letter-spacing: 0.049rem;
  padding-top: 1rem;
  margin-top: auto;
}

.reveal-hover {
  // display: block;
  top: 0;
}

@media only screen and (min-width: 768px) {
  .cf-card {
    &_image {
      span {
        display: block;
      }
    }
  }
}

#cards-list {
  display: block;
  margin-top: 2rem;

  .cf-card {
    width: auto;
    max-height: 400px;
    display: grid;
    grid-template-columns: 200px auto;
    margin-bottom: 1rem;
    cursor: pointer;
    grid-template-areas:
      "card-image card-content"
      "card-image card-reveal";

    .poster div {
      display: block;

      img {
        max-width: 400px;
      }
    }

    &_image {
      grid-area: card-image;
    }

    &_content {
      grid-area: card-content;
      padding-left: 3rem;
    }

    &_reveal {
      //display: block;
      top: 0;
      padding-top: 0;
      padding-left: 3rem;
      //position: relative;
      background-color: transparent;
      grid-area: card-reveal;
      color: var(--color-text);

      p {
        margin: 0;
      }
    }
  }

  #movie-genre {
    margin-top: 0;
  }

  .more-icon {
    display: none;
  }
}

// reveal
.btn-favorite {
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 0.062rem;
  button{
    display:flex;
    align-items: center;
  }
  span{
    margin-left: 0.8rem;
  }
}

// pagination
.pagination {
  margin-top: 2.5rem;
  text-align: center;

  button {
    border: 1px solid var(--color-main);
    border-radius: 0.3rem;
    letter-spacing: 0.062rem;
    // padding: 0.5em 2em;
    padding: 0 2em;
    line-height: 2.5;
    color: var(--color-text);
    transform: scale(1);
    transition: all 0.3s linear;

    &:hover,
    &:focus {
      color: var(--color-main);
      transform: scale(0.95);

    }
  }
}