.cf-header {
  //border-bottom: 1px solid #cccccc;
  //padding: 1rem 0;
  position: relative;
  height: 10vh;
  min-height: 60px;

  .container {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
  }
}

.cf-logo {
  display: flex;
  align-items: center;

  span {
    flex-shrink: 0;
  }
}

.cf-office {
  display: flex;
  align-items: center;
  margin-left: auto;

  button,
  a {
    margin: 0 0.5rem;
    cursor: pointer;
  }
}

.office-text {
  display: none;
}
.account{
  cursor: pointer;
}

//Menu
.hamburger-wrap {
  margin-right: 1rem;
  min-width: 30px;
}

.hamburger {
  &:hover {
    cursor: pointer;
  }

  .line {
    width: 30px;
    height: 3px;
    background-color: #3f444e;
    display: block;
    margin: 4px auto;
    transition: all 0.3s ease-in-out;
  }
}

#hamburger {
  position: relative;
  transition: all 0.3s ease-in-out;
}

#hamburger.is-active {
  transform: rotate(45deg);
}

#hamburger:before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border: 2px solid transparent;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  border-radius: 100%;
  transition: all 0.3s ease-in-out;
}

#hamburger.is-active:before {
  border: 2px solid var(--color-main);
}

#hamburger.is-active .line {
  width: 15px;
}

#hamburger.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger.is-active .line:nth-child(1) {
  transform: translateY(7px);
}

#hamburger.is-active .line:nth-child(3) {
  transform: translateY(-7px) rotate(90deg);
}


//mobile-menu
.menu-mobile {
  height: 90vh;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: var(--bg);
  overflow-x: auto;
  transition: all 0.2s linear;
  transform: translateX(-100%);
  display: flex;
  align-items: center;
  justify-content: center;

  ol {
    text-align: center;

    li {
      margin: 2rem 0;
    }
  }
}

.menu-mobile_active {
  transform: translateX(0);
}

@media (min-width: 768px) {

  .menu-mobile,
  .hamburger-wrap {
    display: none;
  }
}


// search
.cf-search {
  position: absolute;
  top: 100%;
  left: 15px;
  right: 15px;
  // width: 100%;
  background-color: #ffffff;
  z-index: 200;
  // padding: 1rem;
  display: flex;
  align-items: center;
  border-radius: 0.278rem;
  border: 1px solid #474747;
  transition: height 500ms 0ms, opacity 500ms 500ms;

  input {
    margin-right: auto;
    padding-left: 1rem;
    color: #000000;
    font-size: 1.2rem;
    flex-grow: 1;
  }
  
  button {
    padding: 1rem;
    cursor: pointer;
  }
  
}
.cf-search-input{
  display: none;
  input{
    @include placeholder {
      font-size: 0.8rem;
    }
  }
}

@media only screen and (min-width: 992px) {
  .cf-search,
  .btn-mob-search {
    display: none;
  }
  .cf-search-input{
    display: flex;
    align-items: center;
    input{
     margin-left: 1rem;
     border-bottom: 1px solid var(--color-text);
    }

  }
}