.forms {
  margin: auto;
  position: relative;
}

.wrap {
  max-width: 500px;
  margin: auto;
  overflow: hidden;
}


/*------------------------------------------------------------------
[  ]*/

.forms-title {
  display: block;
  font-size: 2.2rem;
  color: var(--color-text);
  line-height: 1.2;
  text-align: center;
  padding-bottom: 3rem;
}



/*------------------------------------------------------------------
[  ]*/

.wrap-input {
  width: 100%;
  position: relative;
  border-bottom: 2px solid var(--color-text);
  margin-bottom: 37px;
}

.input {
  display: block;
  width: 100%;

  font-size: 15px;
  color: var(--color-input);
  line-height: 1.2;
}

.focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  transition: all 0.4s;

  background: var(--color-main);
  background: linear-gradient(45deg, var(--color-main), #e53935);
}

.focus-input::after {
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;

  font-size: 13px;
  color: #999999;
  line-height: 1.2;

  transition: all 0.4s;
}

/*---------------------------------------------*/
input.input {
  height: 45px;
}

input.input+.focus-input::after {
  top: 16px;
  left: 0;
}

.input:focus+.focus-input::after {
  top: -13px;
}

.input:focus+.focus-input::before {
  width: 100%;
}

.has-val.input+.focus-input::after {
  top: -13px;
}

.has-val.input+.focus-input::before {
  width: 100%;
}

/*------------------------------------------------------------------
[ Button ]*/
.forms-btn {
  text-align: center;
  padding-top: 0.9rem;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 244px;
    height: 50px;
    margin: auto;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 1rem;
    color: #fff;
    transform: scale(1);
    background-color: var(--color-main);
    transition: all 0.4s;

    &:hover,
    &:focus {
      transform: scale(0.95)
    }
  }
}

.isErrorInput {
  position: absolute;
  top: 100%;
  width: 100%;
  text-align: center;
  color: var(--color-text);
  font-size: 0.7rem;
  margin-top: 5px;
}

.flash-massage {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  color: var(--color-main);
  font-weight: 700;
  margin-top: -2rem;
}

