@import 'utils/index';
@import 'header';
@import 'breadcrumbs';
@import 'card';
@import 'signInUp';


body {
  min-height: 100vh;
}

#wrapper {
  min-height: inherit;
  display: flex;
  flex-direction: column;
}


// footer
footer {
  margin-top: auto;
  padding: 2rem 0 1rem;
  .container > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--color-text);
  }
}

// 404 page
#notfound{
  margin: auto;
  flex-grow: 1;
  display: flex;
}
.notfound{
  margin: auto;
  max-width: 460px;
    width: 100%;
    text-align: center;
    line-height: 1.4;
  &-wrap{
    // height: 158px;
    line-height: 1;
    h2{
      font-family: josefin sans,sans-serif;
      color: var(--color-404);
      font-size: 10rem;
      letter-spacing: 10px;
      margin: 0;
      font-weight: 700;
      text-shadow: 2px 2px 0 #c9c9c9, -2px -2px 0 #c9c9c9;
      span{
        text-shadow: 2px 2px 0 var(--color-main), -2px -2px 0 var(--color-main), 0 0 8px var(--color-main);
      }
    }
  }
  p{
    font-family: josefin sans,sans-serif;
    color: var(--color-text);
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 15px;
  }
  a, button{
    font-family: josefin sans,sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    background: 0 0;
    color: var(--color-text);
    border: 2px solid var(--color-text);
    display: inline-block;
    padding: 10px 25px;
    font-weight: 700;
    transition: .2s all;
    &:hover{
      color: var(--color-main);
      border-color: var(--color-main);
    }
  }
}


// loading
.loading{
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}